<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379597067976-9t8fdc0guoaj5rq80jd4h94lmqqvbfrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379597067976-9t8fdc0guoaj5rq80jd4h94lmqqvbfrm</string>
	<key>API_KEY</key>
	<string>AIzaSyBvt_Q5ItXd3wIiwub95UuvcFl6sTZF6a4</string>
	<key>GCM_SENDER_ID</key>
	<string>379597067976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login</string>
	<key>PROJECT_ID</key>
	<string>firestore-b66b5</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-b66b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379597067976:ios:32001cb8832e35a994b7fd</string>
</dict>
</plist>